Backup/*
ffmpeg-2025-04-14-git-3b2a9410ef-essentials_build/*
hls_output/*
dash_output/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.vscode/
.idea/

# Misc
.DS_Store
switch_module/Backup/*
LED_module/Backup/*
