Backup/*
ffmpeg-2025-04-14-git-3b2a9410ef-essentials_build/*
hls_output/*
dash_output/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.vscode/
.idea/

# Misc
.DS_Store
switch_module/Backup/*
LED_module/Backup/*
*.rar
data/inotex/1.mp4
data/inotex/2.mp4
data/inotex/3.mp4
data/inotex/4.mp4
data/inotex/5.mp4
data/inotex/6.mp4
data/inotex/7.mp4
data/inotex/8.mp4
data/inotex/9.mp4
data/inotex/10.mp4
data/inotex/n2.mp4
data/inotex/n5.mp4
data/inotex/n6.mp4
data/inotex/n9.mp4
data/inotex/n17.mp4
data/inotex/n19.mp4
data/inotex/n23.mp4
data/inotex/n88.mp4
